.adminDoc{
    border: 2px solid black;
    height: 100vh;
}

.adminDocBg {
    margin: 90px 30px 0px 143px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9fc;
    height: 83vh;
}

.documentDetailsBg{
    /* border: 2px solid red; */
    margin: 40px;
    border-radius: 15px;
    padding: 20px;
    background-color: #f9f9fc;
}

.documentDetails {
    padding : 70px 0px 20px 103px;
    /* border : 2px solid black; */
}
.documentDetails  h3 {
    font-size : 2rem;
    font-weight : 700;
}
.documentDetails span {
    color : #1d1f5e;
    text-shadow: 3px 3px 5px #4c4f4d;
}

.documentDetails h6{
    font-size : 1.3rem;
    font-weight : 700;
    color : #6b6c80;
    font-style: italic;
}

.overallDocumentCard{
    /* border: 2px solid black; */
    /* margin: 0px; */
    padding: 30px;
}

.documentCard{
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* padding-left: 100px; */
    padding: 10px ;
    border-radius: 5px;
    background-color: #ebebfc;
    text-align: left;
}

.documentCard button {
    /* border: none; */
    background-color: #ebebfc;
    margin-left: 20px;
}
.docVeri{
    width: 30%;
    /* border: 2px solid red; */

}

.pdf {
    text-align: center;
    /* border: 2px solid red; */
    width: 30%;
    /* padding-left: 100px; */
}

.docButton {
    text-align: center;
    /* align-items: flex-start; */
    /* border: 2px solid red; */
    /* text-align: left; */
    width: 40%;
    /* padding-left: 30px; */
}

.cancelButton {
    display: none;
}

.verifyButton {
    display: none;
}

.rejectState {
    color: rgb(225, 78, 78);
    border: 2px solid rgb(225, 78, 78);
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.rejectState:hover{
    background-color: rgb(225, 78, 78);
    color: #ebebfc;
}

.approveState {
    color: green;
    border: 2px solid green;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.approveState:hover{
    background-color: green;
    color: #ebebfc;
}
.approveAllBtn{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    margin-right:50px ;
    margin-bottom: 20px;
}
.approve-btn{
    padding: 8px;
    border-radius: 5px;
    color: #15074e;
    border: 2px solid #15074e;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.approve-btn:hover {
    background-color: #15074e;
    color: #ebebfc;
}

.approve-btn-disabled{
    padding: 8px;
    border-radius: 5px;
    color: #15074e;
    border: 2px solid #15074e;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}