.Edetails {
    /* border: 2px solid black; */
    border-radius: 15px;
    background-color: #f9f9fc;
    padding: 30px;
}

.EdetailsBg {
    /* border: 2px solid red; */
    padding:100px 50px 40px 140px;
}

.mainInfoName h1{
    color: #15074e;
}

.pDetails{
    margin : 50px;
}

.AllDetails {
    /* border : 2px solid black; */
    padding: 20px;
    margin : 20px;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.AllDetails button {
    width : 200px;
    margin-left : 900px;
    color: #15074e;
    font-weight: 500;
    border: 2px solid #15074e;
    background-color: #f9f9fc;
    transition: all 0.4s ease-in-out;
}

.AllDetails button:hover {
    background-color: #15074e;
    color: #f9f9fc;
    border: 2px solid #15074e;
}

.pDetails input {
    width : 300px;
    height : 40px;
    border-radius : 5px;
    padding-left: 5px;
}

.todo p{
    font-weight : 700
}
.todoIn {
    width : 600px;
}
.pDetailsTable tr th {
    width: 50%;
}

@media only screen and (max-width: 600px){
    .Edetails {
        /* margin : 5px; */
        margin-left : 75px;
        overflow : hidden
    }
    .AllDetails{
        margin : 0px;
    }
    .AllDetails button{
        margin-left : 1px;
        width : 100%
    }
    .pDetails {
        /* font-size : 0.9rem; */
        margin : 20px 10px;
        width : 100%
    }
    .pDetails input {
        width : 200px;
    }
}
