@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.prevNotification{
    padding: 120px 40px 40px 140px;
    /* border: 2px solid red; */
    min-height: 100vh;
}

.prevNotificationBg{
    /* border: 2px solid black; */
    border-radius: 15px;
    padding: 20px;
    background-color: #f9f9fc;
    min-height: 85vh;
}

.adminAllNotification{
    margin: 30px;
}
.adminNotificationHead{
    display: flex;
    border-bottom: 2px solid #aeb0af;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.adminNotificationHead .alladmin{
    margin:0px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    cursor: pointer;
}

.allAdminNoti{
    color: #0651ba;
    padding: 10px;
    border-bottom: 3px solid #0651ba;
}

.unseen-adminNotifcationContent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #ebebfc;
    margin: 5px;
    border-bottom: 1px solid gray;
    animation: 1s allNotification;
}

.seen-adminNotifcationContent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #f5f8fc;
    margin: 5px;
    border-bottom: 1px solid gray;
    animation: 1s allNotification;

}
.crossNoti{
    text-align: right;
}
.crossNoti img{
    height: 20px;
}
@keyframes allNotification {
    from {
        transform: translate(400px, 0);
    }
}

.no-notifi{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 40rem;
    margin-top: 3rem;
}